/* GLOBALS */

*{
    margin: 0;
    padding: 0;
}

header{
    display: block;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

#ALLCONTENT{
    width: 100%;
    overflow: hidden;
}

.row{
    width: 100%;
    padding: 20px 0;
    float: left;
}

.rowContent{
    width: 1000px;
    margin: auto;
}

.buttonHolder{
    text-align: center;
}

.yellowButton{
    background: #FFD677;
    padding: 10px 15px !important;
    color: #333333 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.yellowButton:hover{

}

.blueButton{
    background: #0065FF;
    padding: 10px 15px !important;
    color: white !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.blueButton:hover{

}

.spacer{
    background: #FFD677;
    width: 100px !important;
    height: 8px;
    display: block !important;
    margin-bottom: 30px;
    float: none !important;
}


/* HEADER (ROW 1) */
#row1{
    background: #0065FF;
    background-image: linear-gradient(to right, #0065FF , #5480FF);
    padding-bottom: 120px;
}

nav{
    width: 90%;
    margin: auto;
}

#navLogo{
    float: left;
    color: white;
}

#navList{
    float: right;
    list-style: none;
}

#navList li{
    float: left;
    padding: 0 20px;
    position: relative;
}

#navList li a{
    display: block;
    text-decoration: none;
    padding: 10px 0;
    color: white;
}

#navList li a:hover{
    color: #FFD677;
}

#navList li:nth-child(2):hover #reviewsSubList{
    display: block;
}

#reviewsSubList{
    position: absolute;
    width: 150px;
    background: #0043C1;
    display: none;
}

#reviewsSubList li{
    display: block;
    float: none;
    padding: 0;
    border-bottom: 1px solid white;
}

#reviewsSubList li a{
    padding: 10px;
}

#reviewsSubList li a:hover{
    background: #FFD677;
    color: #333333;
}

#headerHero{
    width: 100%;
    margin-top: 40px;
    color: white;
    display: inline-block;
}

#headerHero-Left{
    width: 50%;
    float: left;
    margin-top: 100px;
}

#headerHero-Left h2{
    margin-bottom: 20px;
    font-size: 36px;
} 

#headerHero-Left p{
    margin-bottom: 40px;
}

#headerHeroImg{
    width: 400px;
    height: 400px;
    float: left;
}

/* ROW 2 */
#row2{
    background: white;
    position: relative;
    z-index: 1;
}

#row2:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
  }

#overlap{
    width: 100%;
    margin-top: -120px;
    display: inline-block;
    text-align: center;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: white;
}

.overlapBlock{
    float: left;
    width: 33.3%;
    padding: 20px;
    box-sizing: border-box;
}

.overlapBlock h3{
    color: #0065FF;
    margin-bottom: 10px;
}

.overlapBlock p{
    color: #333333;
}

.overlapBlock img{
    width: 100px;
    height: 100px;
}

.overlapBlock:nth-child(1), .overlapBlock:nth-child(2){
    border-right: 1px solid #c9c9c9;
}

#row2ContentInfo{
    width: 100%;
    margin: 60px 0;
    display: inline-block;
}

#row2ContentInfo div{
    width: 50%;
    box-sizing: border-box;
    float: left;
    position: relative;
}

#row2ContentInfo h3{
    color: #0065FF;
    font-size: 24px;
    margin-bottom: 30px;
}

#row2ContentInfo p{
    color: #333333;
    font-size: 18px;
    margin-bottom: 30px;
}

#row2ContentInfo img{
    position: relative;
    width: 200px;
    height: 200px;
}

#blueGear{
    animation-name: blueGearAnimation;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#yellowGear{
    top: 100px;
    left: -50px;
    animation-name: yellowGearAnimation;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blueGearAnimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes yellowGearAnimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}


/* ROW 3 */
#row3{
    background: #0065FF;
    padding: 100px 0;
    color: white;
}

#row3 h3, #row3 p, #row3 a{
    margin: 20px auto;
    text-align: center;
}

#row3 h3{
    font-size: 24px;
}


/* FOOTER (ROW 4) */
#row4{
    background: #0043C1;
    color: white;
}

#row4 #footerContent{
    margin: auto;
}

#row4 p{
    float: left;
}

#row4 #socialMedia{
    float: right;
}

#row4 #socialMedia a{
    float: left;
    margin-left: 20px;
}

#row4 p{
    margin-top: 15px;
}

#row4 #socialMedia img{
    width: 50px;
    height: 50px;
}

