
/* GLOBALS */
.row{
    width: 100%;
    padding: 20px 0;
    float: left;
}

.rowContent{
    width: 1000px;
    margin: auto;
}


/* HEADER (ROW 1) */
#row1{
    background: #0065FF;
    background-image: linear-gradient(to right, #0065FF , #5480FF);
    padding-bottom: 120px;
}




#headerHero{
    width: 100%;
    margin-top: 40px;
    color: white;
    display: inline-block;
}

#headerHero-Left{
    width: 50%;
    float: left;
    margin-top: 100px;
}

#headerHero-Left h2{
    margin-bottom: 20px;
    font-size: 36px;
} 

#headerHero-Left p{
    margin-bottom: 40px;
}

#headerHeroImg{
    width: 400px;
    height: 400px;
    float: left;
}

/* ROW 2 */
#row2{
    background: white;
    position: relative;
    z-index: 1;
}

#row2:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    z-index: -1;
  }

#overlap{
    width: 100%;
    margin-top: -120px;
    display: inline-block;
    text-align: center;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 0px 10px 2px #888888;
    -moz-box-shadow: 2px 0px 10px 2px #888888;
    -o-box-shadow: 2px 0px 10px 2px #888888;
    box-shadow: 2px 0px 10px 2px #888888;
    background: white;
}

.overlapBlock{
    float: left;
    width: 33.3%;
    padding: 20px;
    box-sizing: border-box;
}

.overlapBlock h3{
    color: #0065FF;
    margin-bottom: 10px;
}

.overlapBlock p{
    color: #333333;
}

.overlapBlock img{
    width: 100px;
    height: 100px;
}

.overlapBlock:nth-child(1), .overlapBlock:nth-child(2){
    border-right: 1px solid #c9c9c9;
}

#row2ContentInfo{
    width: 100%;
    margin: 60px 0;
    display: inline-block;
}

#row2ContentInfo div{
    width: 50%;
    box-sizing: border-box;
    float: left;
    position: relative;
}

#row2ContentInfo h3{
    color: #0065FF;
    font-size: 24px;
}

#row2ContentInfo p{
    color: #333333;
    font-size: 18px;
    margin-bottom: 30px;
}

#row2ContentInfo img{
    position: relative;
    width: 200px;
    height: 200px;
}

#blueGear{
    animation-name: blueGearAnimation;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#yellowGear{
    top: 100px;
    left: -50px;
    animation-name: yellowGearAnimation;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes blueGearAnimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes yellowGearAnimation {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}


/* ROW 3 */
#row3{
    background: #0065FF;
    padding: 100px 0;
    color: white;
}

#row3 h3, #row3 p, #row3 a{
    margin: 20px auto;
    text-align: center;
}

#row3 h3{
    font-size: 24px;
}


/* MOBILE */
@media screen and (max-width: 1030px) 
{
    .rowContent {
        width: 90%;
    }

    .spacer{
        margin: 30px auto;
    }

    #row1{
        padding-bottom: 150px;
    }

    #headerHeroImg{
        width: 300px;
        height: 300px;
        float: right;
        margin-top: 40px;
    }

    #row2{
        text-align: center;
    }

    #row2ContentInfo div{
        width: 100%;
        display: block;
        padding: 40px 0;
    }

    #row2ContentInfo img{
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 800px)
{
    #row1{
        text-align: center;
    }

    #headerHero{
        margin-bottom: 40px;
    }

    #headerHero-Left{
        width: 100%;
        margin-top: 0;
    }

    #headerHeroImg{
        display: none;
    }

    #overlap{
        margin-top: -165px;
    }

    .overlapBlock{
        display: block;
        width: 100%;
    }

    .overlapBlock:nth-child(1), .overlapBlock:nth-child(2){
        border-right: 0;
        border-bottom: 1px solid #c9c9c9;
    }
}
