
/* Globals */
nav{
    
}

.row{
    width: 100%;
    padding: 20px 0;
    float: left;
}

.rowContent{
    width: 1000px;
    margin: auto;
}

body{
    background: #0065FF;
    background-image: url(../Images/shapes.png), linear-gradient(to bottom, #0065FF , #5480FF);
    background-attachment: fixed;
}

footer{
    position: fixed;
    bottom: 0;
}


/* SIGN IN BOX */
#signUpBox{
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    width: 300px;
    height: 490px;
    margin: -245px auto 0 -150px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px 2px #444444;
    -moz-box-shadow: 0px 0px 10px 2px #444444;
    -o-box-shadow: 0px 0px 10px 2px #444444;
    box-shadow: 0px 0px 10px 2px #444444;
    text-align: center;
}

#signUpBox h2{
    color: #0065FF;
    text-align: center;
    font-size: 28px;
    margin: 15px 0;
}

#signUpBox ul{
    list-style: none;
    width: 190px;
    margin: 0 auto 15px auto;
}

#signUpBox ul li{
    display: inline-block;
    margin: auto;
    cursor: pointer;
    margin: 0 10px;
}

#signUpBox ul li img{
    width: 40px;
    height: 40px;
}

#signUpBox p{
    margin-bottom: 15px;
    position: relative;
}

#signUpBox #emailAddrOption:before{
    content: "";
    background: #333333;
    width: 20px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 16px;
}

#signUpBox #emailAddrOption:after{
    content: "";
    background: #333333;
    width: 20px;
    height: 4px;
    position: absolute;
    top: 50%;
    right: 16px;
}

#signUpBox form{
    
}

#signUpBox form input[type *= "text"], #signUpBox form input[type *= "password"]{
    padding: 10px;
    margin-bottom: 10px;
    background: #e9e9e9;
    outline: 0;
    border: 0;
    color: #333333;
    width: 75%;
}

#signUpBox form input[type *= "submit"]{
    display: block;
    margin: auto;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 245px;
    margin-bottom: 10px;
}

#signUpBox p a{
    color: #FFD677;
    font-weight: bold;
}
